// SEPARACIONES
$separacion: 5rem;
// COLORES
// COLORES
$verde: #4cb8b3;
$rosa: #f53756;
$amarillo: #fef46d;
$morado: #752f97;
$negro: #000;
$blanco: #fff;

// MEDIA QUERIES
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;

// FUENTES
$fuentePrincipal: "Montserrat", sans-serif;

$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;
